ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
li {
display: inline;
}
.navbar {
    background-image: url('/static/images/navbar_back.jpg');
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a navbar */
    background-position: center; /* Centraliza a imagem */
    position: fixed;
    width: 100%;
    z-index: 1000
}
body {
    padding-top: 56px; /* Ajuste este valor de acordo com a altura da sua navbar */
}