@font-face {
    font-family: "Onepiece";
    src: url("/static/fonts/light\ stories\ font.ttf") format("truetype");
}

body {
    margin: 0;
    font-family: 'Onepiece', sans-serif;
    color: #fff;
    background-color: #a1a7ad;
    text-align: center;
}

.above-line {
    background-size: cover;
    background-image: url(/static/images/navbar.jpg);
}

.navbar {
    background-color: #333;
    overflow: hidden;
    list-style-type: none;
    padding: 0;
    font-family: 'Onepiece', sans-serif;
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    border-bottom: none; /* Remover a borda inferior */
    margin-bottom: 20px; /* Adicionar margem inferior para criar espaço */
}

.navbar ul {
    border-bottom: none;
    margin-bottom: 0;
}

.navbar li {
    margin-right: 20px;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #555; /* Cinza escuro mais escuro para hover */
    color: white; /* Manter o texto branco */
}

.header {
    height: 400px;
    background-image: url('/static/images/navbar.jpg');
    background-size: cover;
    background-position: center;
}

.section {
    padding: 50px;
}

.section h2 {
    color: #fff;
}

.section p {
    color: #fff;
}

@media screen and (max-width: 768px) {
    .navbar {
        justify-content: center;
    }
    .navbar li {
        margin: 0 10px;
    }
    .header {
        height: 200px;
    }
}
