{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<style>
 body{background-image: url("/static/img/fundo.png");}

 
 </style>
<div>
    <br>
    <br>
    <figure><img src="{{ url_for('static', filename='img/capa.png') }}" alt="Capa"></figure>
</div>
<div>
    <h1>Sobre a faculdade:</h1>
    <p style="padding-right: 4rem;">Lorem ipsum dolor sit amet. Ut consequatur ipsum vel dolorem omnis qui
        accusantium dolorem ea dolores neque
        vel autem quaerat. Sit necessitatibus quidem ut exercitationem accusamus est consectetur voluptatem qui
        minus voluptatem. Et fuga eius vel laborum voluptatem vel iste sint. A rerum ipsum ut earum fugiat et iusto
        quisquam aut eligendi mollitia.
        Qui nobis molestiae aut expedita velit non consequuntur tempora sit laboriosam iste ut impedit voluptatum
        eum deserunt necessitatibus. Id tempore sint est repellat vero eos error eius aut molestiae adipisci et
        quisquam maiores. Ad excepturi sint nam repellendus corporis ut voluptates voluptatem qui labore minima? Et
        harum rerum eos autem neque et sunt ipsum ut possimus consectetur et saepe consequatur.
        <br>
        <br>
        Et voluptate aliquam At consequatur quos aut facilis sint cum error illo eos veniam facere. Sit laborum iste
        eum assumenda ipsum est dolore voluptatem ut vitae voluptate qui dignissimos excepturi ea vero quod nam
        delectus earum. Id dolores dicta qui mollitia doloremque et repudiandae velit a ratione quia ea voluptas
        incidunt et cupiditate voluptatibus qui voluptatum repellat. Non temporibus consectetur qui ipsum voluptas
        ab atque modi At ipsum voluptates et facere corporis aut soluta nobis sit iure facere.
        <br>
        <br>
        <br>
        <br>
    </p>
</div>
{% endblock %}