{% extends "base.html" %}
{% block content %}
<div class="main-content">
    <h1>Ultimos lançamentos</h1>
    <div class="moleskine-wrapper">
        <div class="moleskine-notebook">
            <a href="https://mangaonline.biz/capitulo/one-piece-capitulo-1/">
                <div class="notebook-skin">
                    <img src="/static/images/manga4.jpg" alt="One Piece Logo" class="one-piece-logo">
                    <link href="https://readme-onepiece.com/pt-BR/chapter/27">
                    VOLUME 4
                </div>
            </a>
            <div class="notebook-page"></div>
            <h4>VOLUME 4</h4>
        </div>
    </div>
    <div class="moleskine-wrapper">
        <div class="moleskine-notebook">
            <a href="https://mangaonline.biz/capitulo/one-piece-capitulo-1/">
                <div class="notebook-skin">
                    <img src="/static/images/manga3.jpg" alt="One Piece Logo" class="one-piece-logo">
                    <link href="https://readme-onepiece.com/pt-BR/chapter/18">
                    VOLUME 3
                </div>
            </a>
            <div class="notebook-page ruled"></div>
            <h4>CAPÍTULO 1112</h4>
        </div>
    </div>
    <div class="moleskine-wrapper">
        <div class="moleskine-notebook">
            <a href="https://mangaonline.biz/capitulo/one-piece-capitulo-1/">
                <div class="notebook-skin">
                    <img src="/static/images/manga2.jpg" alt="One Piece Logo" class="one-piece-logo">
                    <link href="https://readme-onepiece.com/pt-BR/chapter/9">
                    VOLUME 2
                </div>
            </a>
            <div class="notebook-page squared"></div>
            <h4>CAPÍTULO 1113</h4>
        </div>
    </div>
    <div class="moleskine-wrapper">
        <div class="moleskine-notebook">
            <a href="https://mangaonline.biz/capitulo/one-piece-capitulo-1/">
                <div class="notebook-skin">
                    <img src="/static/images/manga1.jpg" alt="One Piece Logo" class="one-piece-logo">
                    <link href="https://mangaonline.biz/capitulo/one-piece-capitulo-1/">
                    VOLUME 1
                </div>
            </a>
            <div class="notebook-page"></div>
            <h4>Capítulo 1114</h4>
        </div>
    </div>
</div>
{% endblock %}
