{% extends 'base.html' %}
{% block title %}Quem Somos{% endblock %}

{% block content %}
    <!--Quem somos-->
    <div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Quem somos</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id convallis tortor. Ut lectus dolor, cursus quis enim in, sodales efficitur ex. Nunc tristique libero nisi, pellentesque feugiat nunc gravida a. Donec non aliquam sem. Duis a enim consequat, euismod velit at, venenatis orci. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed quis ligula dignissim leo feugiat dapibus eu id nisl. Sed elit urna, venenatis ut enim et, tempor pretium nunc. In hendrerit eu libero sit amet aliquam.Morbi ultricies accumsan ligula. Curabitur sit amet dignissim arcu. Vivamus scelerisque augue vel pellentesque tempus. Integer id volutpat metus, nec varius felis. Duis ultricies eleifend metus, sit amet congue metus congue sed. Donec ullamcorper dolor eu dignissim ornare. Fusce sollicitudin tortor ac interdum imperdiet. Phasellus eu mollis nisl, eu convallis orci.</p>
    </div>
    <!--5 motivos-->
    <div>
        <h1>5 motivos para estudar</h1>
        <ul>
            <li>1. Material sempre atualizado</li>
            <li>2. Tablets em sala de aula</li>
            <li>3. Professores renomados</li>
            <li>4. Universide bem avaliada</li>
            <li>5. Ótima localização</li>
        </ul>
        <hr class="hr2">
    </div>
    <!--Objetivos-->
    <div>
        <h1>Objetivos</h1>
        <p>Nullam ac est placerat eros tempus lobortis. Praesent quis dapibus elit, sit amet commodo lectus. Mauris eget rutrum urna, sed lobortis nulla. Pellentesque tempor, tellus ut feugiat ultricies, risus metus dictum magna, ut euismod lacus nisl et nisl. Sed pulvinar eleifend lacinia. Nulla commodo sagittis justo et tempus. Vivamus vel congue orci. Morbi euismod tortor et ante bibendum, vel pellentesque turpis lobortis. Praesent semper justo justo, ut aliquet neque rutrum eu. Praesent vitae neque vitae diam porttitor cursus.</p>
    </div>
{% endblock %}