{% extends "base.html" %}
{% block content %}

<!-- Conteúdo da página do vídeo -->

    <div class="jumbotron">
        <h1 class="display-4" style="font-family: 'Onepiece', cursive; font-size: 3.5rem;">Assista ao luffy despertar o Gear Fifth!</h1>
        <div>
            <video width="640" height="360" controls>
                <source src="{{ url_for('static', filename='gear5.mp4') }}" type="video/mp4">
                Seu navegador não suporta a reprodução de vídeo.
            </video>
        </div>
    </div>
</div>
{% endblock %}


